.modal {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) scaleX(.9);
	transition: all .7s ease;
	background-color: white;
	width: 100%;
	max-width: 1277px;
	&-close {
		position: absolute;
		top: 36px;
		right: 38.47px;
		width: 23px;
		height: 23px;
		transition: all $expo;
		&:after,
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			width: 23px;
			height: 2px;
			background-color: #333;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:hover {
			opacity: .8;
		}
	}
	&--wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		background: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(15px);
		transition: all $expo;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 30;
			.modal {
				transform: translateX(-50%) scaleX(1);
			}
		}
	}
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	&-el {
		height: 100vh;
		max-height: 100vh;
		overflow: hidden;
	}
}