.history {
	padding-top: 38px;
	padding-bottom: 98px;
	text-align: center;
	@include respond-to(sm) {
		padding-bottom: 48px;
	}
	.navigation_string {
		margin: 0 auto;
		display: inline-block;
		.subtext {
			color: white;
			border-color: white;
		}
	}
	&-title {
		max-width: 769px;
		padding-bottom: 39px;
		padding-top: 393px;
		@include respond-to(sm) {
			padding-top: 313px;
		}
		@include respond-to(xs) {
			padding-top: 0;
			text-shadow: 1px 1px 2px black;
		}
	}
	&-content {
		max-width: 1044px;
		font-family: $ALSSchlangesans;
		line-height: 35px;
		font-size: 32px;
		@include respond-to(md) {
			line-height: 29px;
			font-size: 24px;
		}
		@include respond-to(xs) {
			text-shadow: 1px 1px 2px black;
		}
	}
	&-content,
	&-title {
		color: white;
		margin: 0 auto;
	}
	&--wrap {
		background: url("../img/bg/bg_history.png") center center;
		background-size: cover;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
}

.kamchatka {
	padding-top: 96px;
	padding-bottom: 90px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	&__block {
		width: 58%;
		color: white;
		@include respond-to(md) {
			width: 100%;
		}
	}
	&-title {
		padding-bottom: 31px;
		@include respond-to(md) {
			padding-bottom: 21px;
		}
	}
	&-content {
		padding-bottom: 25px;
		@include respond-to(md) {
			padding-bottom: 15px;
		}
	}
	&--wrap {
		background-image: url("../img/bg/bg_kamchatka.png");
		background-size: cover;
	}
}

.beliefs {
	padding-top: 92px;
	padding-bottom: 43px;
	&__block {
		width: 58%;
		color: #333;
		@include respond-to(md) {
			width: 100%;
		}
	}
	&-title {
		padding-bottom: 32px;
		padding-right: 10px;
		@include respond-to(md) {
			padding-bottom: 21px;
		}
	}
	&-content {
		padding-right: 51px;
		padding-bottom: 26px;
		@include respond-to(md) {
			padding-bottom: 16px;
		}
	}
	&--wrap {
		background-image: url("../img/bg/bg_beliefs.png");
		background-size: cover;
	}
}

.business {
	padding-top: 117px;
	padding-bottom: 104px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	&__block {
		width: 58%;
		color: white;
		@include respond-to(md) {
			width: 100%;
		}
	}
	&-title {
		padding-bottom: 29px;
		@include respond-to(md) {
			padding-bottom: 19px;
		}
	}
	&-content {
		padding-bottom: 23px;
		&:nth-child(3) {
			padding-right: 10px;
		}
		@include respond-to(md) {
			padding-bottom: 13px;
		}
	}
	&-href {
		display: block;
		margin-top: 45px;
		font-family: $ALSSchlangesans;
		font-weight: 700;
		line-height: 25px;
		font-size: 24px;
		text-decoration-line: underline;
		color: white;
		transition: all $expo;
		@include respond-to(md) {
			line-height: 21px;
			font-size: 16px;
		}
		&:hover {
			text-decoration-line: none;
		}
	}
	&--wrap {
		background-image: url("../img/bg/bg_business.png");
		background-size: cover;
	}
}

.counters {
	padding-top: 72px;
	&-title {
		text-align: center;
		margin-bottom: 63px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 16.6%;
		font-family: $ALSSchlangesans;
		@include respond-to(md) {
			width: 33.3%;
			margin-bottom: 70px;
		}
		@include respond-to(xs) {
			width: 50%;
		}
		&-title {
			font-weight: 700;
			line-height: 28px;
			font-size: 30px;
			color: $c-volun-red;
			padding-bottom: 12px;
			@include respond-to(xs) {
				font-size: 26px;
				padding-bottom: 2px;
			}
		}
		&-nums {
			font-weight: 700;
			line-height: 84px;
			font-size: 90px;
			color: $c-volun-red;
			@include respond-to(xs) {
				line-height: 64px;
				font-size: 60px;
			}
			&.percent {
				position: relative;
				&:after {
					content: '%';
					font-weight: 700;
					line-height: 84px;
					font-size: 90px;
					color: $c-volun-red;
					@include respond-to(xs) {
						line-height: 64px;
						font-size: 60px;
					}
				}
			}
		}
		&-text {
			line-height: 22px;
			font-size: 20px;
			text-align: center;
			color: $c-volun-text;
			padding-top: 27px;
			max-width: 180px;
			@include respond-to(xs) {
				font-size: 18px;
				padding-top: 7px;
			}
		}
		&--wrap {
			display: flex;
			justify-content: space-around;
			@include respond-to(md) {
				flex-wrap: wrap;
			}
		}
	}
}

.graphic {
	padding-top: 113px;
	display: flex;
	justify-content: space-between;
	@include respond-to(xl) {
		flex-direction: column;
		align-items: center;
	}
	@include respond-to(sm) {
		padding-top: 23px;
	}

	&-title {
		padding-left: 29px;
		@include respond-to(xl) {
			text-align: center;
			padding-left: 0;
		}
		@include respond-to(sm) {
			padding-left: 10px;
			padding-right: 10px;
		}

	}
	> div {
		width: calc(50% - 8.5px);
		padding-top: 62px;
		background: #f2f2f2;
		border-radius: 8px;
		@include respond-to(xl) {
			width: 100%;
		}
	}
	&__line {
		position: relative;
		&-ton {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 365px;
			@include respond-to(xs) {
				height: 230px;
			}
			li {
				width: 16px;
				text-align: right;
			}
		}
		&-year {
			display: flex;
			justify-content: space-between;
			width: 491px;
			margin-top: 8px;
			padding-left: 32px;
			@include respond-to(xs) {
				width: 310px;
			}
			li {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 1px;
					background: #DBDBDB;
					bottom: 26px;
					z-index: 1;
					height: 0;
					transition: height 1s;
				}
				&:before {
					content: '';
					position: absolute;
					width: 9px;
					height: 9px;
					border-radius: 100px;
					background: $c-volun-red;
					z-index: 2;
					opacity: 0;
					transition: opacity 1s;
				}
				&:nth-child(1) {
					&:before {
						left: 0;
						top: -23px;
					}
				}
				&:nth-child(2) {
					transform: translateX(3px);
					&:after {
						left: 21px;
					}
					&:before {
						left: 16px;
						top: -148px;
						transition-delay: 1s;
						@include respond-to(xs) {
							top: -96px;
						}
					}
				}
				&:nth-child(3) {
					transform: translateX(3px);
					&:after {
						left: 15px;
						transition-delay: 1s;
					}
					&:before {
						left: 10px;
						top: -224px;
						transition-delay: 2s;
						@include respond-to(xs) {
							top: -143px;
							left: 11px;
						}
					}
				}
				&:nth-child(4) {
					transform: translateX(2px);
					&:after {
						left: 11px;
						transition-delay: 2s;
					}
					&:before {
						left: 7px;
						top: -284px;
						transition-delay: 3s;
						@include respond-to(xs) {
							top: -186px;
						}
					}
				}
				&:nth-child(5) {
					&:after {
						left: 20px;
						transition-delay: 3s;
					}
					&:before {
						left: 15px;
						top: -364px;
						transition-delay: 4s;
						@include respond-to(xs) {
							top: -232px;
							left: 16px;
						}
					}
				}
			}
		}
		&-interval {
			span {
				position: absolute;
				height: 2px;
				overflow: hidden;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $c-volun-red;
					transform: translateX(-100%);
					transition: all 1s;
				}
				&:nth-child(1) {
					width: 177px;
					left: 10px;
					bottom: 95px;
					transform: rotate(-45deg);
					@include respond-to(xs) {
						width: 108px;
						left: 25px;
						bottom: 73px;
						transform: rotate(-43deg);
					}
				}
				&:nth-child(2) {
					width: 127px;
					left: 151px;
					bottom: 198px;
					transform: rotate(-37deg);
					&:after {
						transition-delay: 1s;
					}
					@include respond-to(xs) {
						width: 72px;
						left: 109px;
						bottom: 131px;
						transform: rotate(-40deg);
					}
				}
				&:nth-child(3) {
					width: 119px;
					left: 253px;
					top: 124px;
					transform: rotate(-30deg);
					&:after {
						transition-delay: 2s;
					}
					@include respond-to(xs) {
						width: 70px;
						left: 166px;
						top: 77px;
						transform: rotate(-37deg);
					}
				}
				&:nth-child(4) {
					width: 138px;
					left: 357px;
					top: 50px;
					transform: rotate(-35deg);
					&:after {
						transition-delay: 3s;
					}
					@include respond-to(xs) {
						width: 84px;
						left: 221px;
						top: 32px;
						transform: rotate(-35deg);
					}
				}
			}
		}
		&--wrap {
			padding-left: 73px;
			padding-bottom: 92px;
			@include respond-to(xl) {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 0;
			}
			.title {
				padding-bottom: 81px;
			}
			&.active {
				.graphic {
					&__line {
						&-year {
							li {
								&:before {
									opacity: 1;
								}
								&:nth-child(1) {

								}
								&:nth-child(2) {
									&:after {
										height: 130px;
										@include respond-to(xs) {
											height: 82px;
										}
									}
								}
								&:nth-child(3) {
									&:after {
										height: 210px;
										@include respond-to(xs) {
											height: 132px;
										}
									}
								}
								&:nth-child(4) {
									&:after {
										height: 270px;
										@include respond-to(xs) {
											height: 170px;
										}
									}
								}
								&:nth-child(5) {
									&:after {
										height: 350px;
										@include respond-to(xs) {
											height: 220px;
										}
									}
								}
							}
						}
						&-interval {
							span {
								&:after {
									transform: translateX(0);
								}
							}
						}
					}
				}
			}
		}
	}
	&__circle {
		position: relative;
		width: 365.4px;
		height: 361.11px;
		margin: 0 auto;
		transform: translateX(15px);
		@include respond-to(xs) {
			width: 250px;
			height: 250px;
			transform: translateX(0);
		}
		&-item {
			position: absolute;
			opacity: 0;
			transform: scale(.8);
			transition: opacity .2s ease, transform 1s cubic-bezier(.09,.76,.85,1.56);
			&.semi {
				left: -3px;
				top: 60px;
				transition-delay: .5s;
				@include respond-to(xs) {
					left: -8px;
					top: 39px;
				}
			}
			&.ready {
				left: 40px;
				top: 17px;
				transition-delay: 1s;
				z-index: 2;
				@include respond-to(xs) {
					left: 21px;
					top: 6px;
				}
			}
			&.eco {
				top: -11px;
				left: 89px;
				transition-delay: 1.5s;
				@include respond-to(xs) {
					top: -14px;
					left: 59px;
				}
			}
			&.products {
				left: -2px;
				top: 1px;
				@include respond-to(xs) {

				}
			}
			&--img {
				&.semi {
					width: 106.87px;
					height: 94px;
					@include respond-to(xs) {
						width: 73.2px;
						height: 64.38px;
					}
				}
				&.ready {
					width: 91.73px;
					height: 65.45px;
					@include respond-to(xs) {
						width: 62.83px;
						height: 44.83px;
					}
				}
				&.eco {
					width: 89.5px;
					height: 90.37px;
					@include respond-to(xs) {
						width: 61.3px;
						height: 61.89px;
					}
				}
				&.products {
					width: 365.4px;
					height: 361.11px;
					@include respond-to(xs) {
						width: 250px;
						height: 250px;
					}
				}
				@include respond-to(xs) {
					svg {
						width: 100%;
						height: auto;
					}
				}
			}
			&--text {
				position: absolute;
				transform: translateY(-30px);
				transition: all .5s ease;
				@media only screen and (max-width: 620px) {
					opacity: 0;
				}
				&.active {
					opacity: 1;
					transform: translateY(0px);
				}
				p,
				span {
					font-family: $Roboto;
					font-style: normal;
					font-weight: 500;
					line-height: 22px;
					font-size: 16px;
					text-align: right;
					color: #333333;
					@include respond-to(xxl) {
						font-size: 13px;
					}
					@media only screen and (max-width: 620px) {
						text-align: center;
						font-size: 14px;
					}
					@include respond-to(xs) {
						font-size: 13px;
					}
				}
				&.semi {
					left: -164px;
					top: 10px;
					@include respond-to(xxl) {
						left: -130px;
						top: 10px;
					}
					@media only screen and (max-width: 620px) {
						left: 110px;
						top: 83px;
					}
					@include respond-to(xs) {
						left: 65px;
						top: 47px;
					}
				}
				&.ready {
					left: -118px;
					top: -27px;
					@include respond-to(xxl) {
						left: -98px;
						top: -17px;
					}
					@media only screen and (max-width: 620px) {
						left: 81px;
						top: 129px;
						width: 111px;
					}
					@include respond-to(xs) {
						left: 41px;
						top: 87px;
					}
				}
				&.eco {
					top: -52px;
					left: -61px;
					@include respond-to(xxl) {
						top: -45px;
						left: -51px;
					}
					@media only screen and (max-width: 620px) {
						left: 43px;
						top: 157px;
					}
					@include respond-to(xs) {
						left: 15px;
						top: 105px;
					}
				}
				&.products {
					right: -168px;
					top: 171px;
					max-width: 138px;
					@include respond-to(sm) {
						right: -138px;
					}
					@media only screen and (max-width: 620px) {
						right: 121px;
						top: 147px;
						max-width: 155px;
					}
					@include respond-to(xs) {
						right: 71px;
						top: 91px;
					}
					p,
					span {
						text-align: left;
						@media only screen and (max-width: 620px) {
							text-align: center;
						}
					}
					span {
						display: block;
						@media only screen and (max-width: 620px) {
							display: inline-block;
						}
					}
				}
			}
			&--btn {
				display: none;
				position: absolute;
				width: 24px;
				height: 24px;
				border-radius: 100px;
				z-index: 3;
				transform: scale(.4);
				@media only screen and (max-width: 620px) {
					display: block;
				}
				&.active {
					&.semi {
						&:after {
							border-color: #00AEEF;
						}
					}
					&.ready {
						&:after {
							border-color: #FEC210;
						}
					}
					&.eco {
						&:after {
							border-color: #23B24B;
						}
					}
					&.products {
						&:after {
							border-color: #ED193A;
						}
					}
				}
				&:after {
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 30px;
					height: 30px;
					border-radius: 100px;
					border: 1px solid transparent;
					transition: all $expo;
				}
				&.semi {
					left: -18px;
					top: 15px;
					background-color: #00AEEF;
					@include respond-to(xs) {
						left: -21px;
						top: 5px;
					}
				}
				&.ready {
					left: -7px;
					top: -12px;
					background-color: #FEC210;
					@include respond-to(xs) {
						left: -11px;
						top: -16px;
					}
				}
				&.eco {
					left: 21px;
					top: -25px;
					background-color: #23B24B;
					@include respond-to(xs) {
						left: 10px;
						top: -27px;
					}
				}
				&.products {
					top: 162px;
					right: -39px;
					background-color: #ED193A;
					@include respond-to(xs) {
						top: 104px;
						right: -29px;
					}
				}
			}
		}
		&--wrap {
			padding-bottom: 84px;
			@include respond-to(xl) {
				display: inline-block;
				margin: 0 auto;
				margin-top: 35px;
			}
			.title {
				padding-left: 90px;
				padding-bottom: 117px;
				@include respond-to(xl) {
					padding-left: 0;
				}
			}
			&.active {
				.graphic {
					&__circle {
						&-item {
							opacity: 1;
							transform: scale(1);
							&--btn {
								transform: scale(1);
								&.semi {
									transition-delay: .6s;
								}
								&.ready {
									transition-delay: 1.1s;
								}
								&.eco {
									transition-delay: 1.6s;
								}
							}
						}
					}
				}
			}
		}
	}
}

.brands {
	padding-top: 89px;
	padding-bottom: 22px;
	&-title {
		text-align: center;
		padding-bottom: 40px;
	}
	&__item {
		width: 16.6%;
		text-align: center;
		margin-bottom: 50px;
		@include respond-to(md) {
			width: 25%;
		}
		@include respond-to(xs) {
			width: 50%;
		}
		img {
			object-fit: none;
			height: auto;
			width: auto;
		}
		&--wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

.h_title {
	font-family: $ALSSchlangesans;
	line-height: 50px;
	font-size: 45px;
	@include respond-to(md) {
		font-size: 36px;
		line-height: 41px;
	}
}

.h_subtitle {
	font-family: $ALSSchlangesans;
	line-height: 36px;
	font-size: 38px;
	@include respond-to(md) {
		font-size: 26px;
		line-height: 31px;
	}
}

.h_text {
	font-family: $ALSSchlangesans;
	line-height: 25px;
	font-size: 24px;
	@include respond-to(md) {
		line-height: 21px;
		font-size: 16px;
	}
}

.container-img {
	width: calc(100% - 40px);
	margin: 0 auto;
	@include respond-to(sm) {
		width: 100%;
	}

}

.container-gr {
	width: 100%;
	max-width: 1467px;
	margin: 0 auto;
}

//modal
.timeline {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 50px;
	padding-bottom: 92px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: calc(50% - 2px);
		height: calc(100% - 92px);
		width: 4px;
		border-radius: 2px;
		background-color: #f2f2f2;
		@include respond-to(xs) {
			left: 20px;
		}
	}
	&__item {
		font-family: $ALSSchlangesans;
		position: relative;
		&.img {
			img {
				width: auto;
				height: auto;
				object-fit: none;
				position: absolute;
				top: 0;
			}
		}
		&.left,
		&.right {
			width: 50%;
			padding-bottom: 41px;
			@include respond-to(xs) {
				width: 100%;
			}
			&:after {
				content: '';
				position: absolute;
				top: 19px;
				width: 18px;
				height: 18px;
				border-radius: 100px;
				background-color: $c-volun-red;
				z-index: 1;
			}
		}
		&.center {
			width: 100%;
			padding-top: 32px;
			padding-bottom: 32px;
			background-color: white;
			z-index: 1;
			max-width: 830px;
			margin: 55px auto 106px;
			@include respond-to(xs) {
				margin-left: 0;
			}
		}
		&.left {
			text-align: right;
			padding-right: 44px;
			@include respond-to(sm) {
				padding-right: 24px;
			}
			@include respond-to(xs) {
				padding-left: 55px;
				text-align: left;
			}
			&.img {
				@include respond-to(lg) {
					padding-bottom: 190px;
				}
				img {
					left: 0;
					@include respond-to(lg) {
						top: auto;
						left: auto;
						right: 44px;
						bottom: 0;
					}
					@include respond-to(sm) {
						right: 24px;
					}
					@include respond-to(xs) {
						right: auto;
						left: 55px;
						bottom: 20px;
					}
				}
			}
			p {
				margin-left: auto;
				@include respond-to(xs) {
					margin-left: 0;
				}
			}
			&:after {
				right: -9px;
				@include respond-to(xs) {
					right: auto;
					left: 13px;
				}
			}
		}
		&.right {
			text-align: left;
			margin-left: auto;
			padding-left: 34px;
			@include respond-to(sm) {
				padding-left: 24px;
			}
			@include respond-to(xs) {
				padding-left: 55px;
			}
			&.img {
				@include respond-to(lg) {
					padding-bottom: 190px;
				}
				img {
					right: 0;
					@include respond-to(lg) {
						right: auto;
						left: 44px;
						top: auto;
						bottom: 0;
					}
					@include respond-to(sm) {
						left: 24px;
					}
					@include respond-to(xs) {
						left: 55px;
						bottom: 20px;
					}
				}
			}
			&:after {
				left: -9px;
				@include respond-to(xs) {
					left: 13px;
				}
			}
		}
		&-date {
			line-height: 84px;
			font-size: 90px;
			color: $c-volun-red;
			display: block;
			padding-bottom: 6px;
			@include respond-to(sm) {
				line-height: 64px;
				font-size: 60px;
			}
		}
		&-text {
			line-height: 22px;
			font-size: 20px;
			color: #333333;
			max-width: 370px;
			@include respond-to(sm) {
				line-height: 21px;
				font-size: 16px;
			}
			&--sm {
				font-family: $Roboto;
				font-style: normal;
				font-weight: 500;
				line-height: 22px;
				font-size: 16px;
				color: #BDBDBD;
				padding-top: 27px;
				max-width: 460px;
				@include respond-to(sm) {
					font-size: 14px;
					line-height: 19px;
					padding-top: 17px;
				}
			}
			&--center {
				font-family: $ALSSchlangesans;
				font-weight: 700;
				line-height: 22px;
				font-size: 20px;
				text-align: center;
				color: #BDBDBD;
				@include respond-to(sm) {
					line-height: 21px;
					font-size: 16px;
				}
				@include respond-to(xs) {
					text-align: left;
				}
			}
		}
		&.up {
			margin-top: -120px;
			@include respond-to(xs) {
				margin-top: 0;
			}
			&2 {
				margin-top: -180px;
				@include respond-to(xs) {
					margin-top: 0;
				}
			}
		}
	}

	&-title {
		text-align: center;
		margin-top: 66px;
		margin-bottom: 45px;
	}

	&--wrap {
		@include respond-to(lg) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}